body {
  /*-moz-osx-font-smoothing:grayscale;
  -ms-flex-direction:column;
  -webkit-box-direction:normal;
  -webkit-box-orient:vertical;
  -webkit-font-smoothing:antialiased; */
  background:#f5f5f5;
  color:rgb(0, 0, 0);
  display:flex;
  flex-direction:column;
  font-family:Montserrat, sans-serif;
  font-size: 1em;
  font-weight:300;
  margin:0;
  min-height:100vh;
  padding:5%;
  background-image:url(fundo7.jpeg);
  background-repeat:no-repeat;
  background-size:100%;/*1400px 700px;*/
  background-attachment:fixed;
  }

  /*Formatação dos textos maiores*/
h1 {
	font-weight: 200;
	font-size: 2.2rem;
	color: #ffffff;
	text-align: center;
}
/*Formatação do menu superior do site*/
nav {
	margin: 0 auto;
	max-width: 800px;
	background: #000000;
	box-shadow:0 3px 15px rgba(0,0,0,.15);
}

nav::after {
	display: block;
	content: '';
	clear: both;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav ul li {
	float: left;
	position: relative;
}

nav ul li a {
	display: block;
	color: rgba(255, 255, 255, .9);
	text-decoration: none;
	padding: 1rem 2rem;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	transition: all .3s ease-in-out;
}

nav ul li a:hover,
nav ul li a:focus {
	background: rgba(0, 0, 0, .15);
}

nav ul li a:focus {
	color: white;
}

nav ul li a:not(:only-child)::after {
	padding-left: 4px;
	content: ' ▾';
}

nav ul li ul li {
	min-width: 190px;
}

nav ul li ul li a {
	background: transparent;
	color: #555;
	border-bottom: 1px solid #DDE0E7;
}

nav ul li ul li a:hover,
nav ul li ul li a:focus {
	background: #eee;
	color: #111;
}

/*Formatação dos formulários das telas de login cadastro delete e update*/
.content{
  width: 500px;
  min-height: 560px;    
  margin: 0px auto;
  position: relative;   
}

h1:after{
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 5px;
  background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}


p{
  margin-bottom:15px;
}
 
.content p:first-child{
  margin: 0px;
}



 
/*estilo dos text box*/
input:not([type="checkbox"]){
  width: 95%;
  margin-top: 4px;
  padding: 10px;    
  border: 1px solid #b2b2b2;
 
  -webkit-border-radius: 3px;
  border-radius: 3px;
 
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
 
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
 
/*estilo do botão submit */
input[type="submit"]{
  width: 100%!important;
  cursor: pointer;  
  background: rgb(61, 157, 179);
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;  
  border: 1px solid #fff;   
  margin-bottom: 10px;  
  text-shadow: 0 1px 1px #333;
 
  -webkit-border-radius: 5px;
  border-radius: 5px;
 
  transition: all 0.2s linear;
}
 
/*estilo do botão ao passar o mouse */
input[type="submit"]:hover{
  background: #4ab3c6;
}

/*Formatação do fundo das telas de login cadastro update e delete*/
#cadastro, 
#login{
  /*position: absolute;*/
  top: 0px;
  width: 88%;   
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: #f7f7f7;
  border: 1px solid rgba(147, 184, 189,0.8);
   
  -webkit-box-shadow: 5px;
  border-radius: 5px;
   
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
 
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}